<section class="cart">
  <header>
    <h2>your bag</h2>
  </header>
  @for(cartItem of cartStore.cartItems(); track trackByFn) {
  <article>
    <app-cart-item [cartItem]="cartItem"></app-cart-item>
  </article>
  } @empty {
  <h4 class="empty-cart">is currently empty</h4>
  }
  <footer>
    <hr />
    <div class="cart-total">
      <h4>
        total
        <span>{{ cartStore.totalAndAmountObject().total | currency }}</span>
      </h4>
    </div>
    @if(cartStore.cartItems().length){<button
      class="btn clear-btn"
      (click)="clearCart()"
    >
      clear cart</button
    >}
  </footer>
</section>
